/venv/
/.idea/
**.Rhistory
/Thema 07 - Analyse van Genexpressie/Praktijkopdracht/.gitignore
/Thema 07 - Analyse van Genexpressie/Praktijkopdracht/.idea/
/Thema 09 - Introduction to Machine Learning/Introductie Java/.gradle/
/Thema 09 - Introduction to Machine Learning/Introductie Java/.idea/
/Thema 09 - Introduction to Machine Learning/Introductie Java/gradle/
/Thema 09 - Introduction to Machine Learning/Introductie Java/gradlew.bat
/Thema 09 - Introduction to Machine Learning/Introductie Java/gradlew
